.node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
    
}
.node text {
    font: 24px sans-serif;
    cursor: pointer;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

body {
    margin: 10px;
    padding: 10px;
}

svg {
    margin: 0 auto; /* Center the SVG horizontally */
    display: block; /* Ensures margin auto works */
    height: 99vh;
}

g {
    position: absolute;
}

.title {
    display: none;
}

.title.active {
    display: block;
}

#buttonHolder {
    position: fixed;
    display: flex;
    left: 10px;
    top: 10px;
}
button{
    margin: 0 5px;
    padding: 1em 0;
    cursor: pointer;
}
button a {
    padding: 2em;
    text-decoration: none;
}